<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091798916894-ncmao23ajin0d2cvclfmramuus53ks0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091798916894-ncmao23ajin0d2cvclfmramuus53ks0o</string>
	<key>API_KEY</key>
	<string>AIzaSyBBwypaaH9kSBOPVO2JxLgjDatp7fhYE-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1091798916894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalProject</string>
	<key>PROJECT_ID</key>
	<string>personal-project-dev-c5a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-project-dev-c5a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091798916894:ios:b320fd6473c2ced134f30f</string>
</dict>
</plist>